*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
body{
    min-height: 100vh;
    background: linear-gradient( to top, white 90%, hsl(32, 100%, 50%));
} */

/* body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        hsl(24, 100%, 43%) 0%,
        hsl(22, 91%, 59%) 45%,
        #ffffff 100%
    );
} */

/* body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #2c2c2c 0%,
        #f5f5f5 40%,
        #ffffff 100%
    );
} */

body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #e2d090 0%,
        #ffffff 40%,
        #ffffff 100%
    );
}


.desc,
.descml2,
.descml3 {
    background: rgba(255,255,255,0.95);
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}



body::-webkit-scrollbar{
    display: none;
}


/* JOS AND MORE */

    .josw{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;

    }
    
    .jos{
        
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 20px;
    }


    .morew{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;

    }
    
    .more{
        
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 20px;

    }

/* JOS AND MORE */



/* SRB AND ENG  */

.hidden {
    display: none;
}


.lang-switch{
    display: flex;
    justify-content: end;
    align-items: end;

    padding: 20px;
}




.engbtn{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    cursor: pointer;
}



.srbbtn{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    cursor: pointer;
}

/* SRB AND ENG */

.picw{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
}

.barnowl{
    width: 200px;
    border-radius: 50px;

    /* box-shadow: 20px 10px 70px black; */
}

.content1{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.title{
    margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;

}


/* King Cobra */

.picw2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kobra{
    width: 200px;
    border-radius: 50px;

    margin-top: 25px;
}

.title2{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}

.content2{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descml2{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}




/* Mungos */




.picw3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mungos{
    width: 200px;
    border-radius: 50px;

    margin-top: 25px;
}

.title3{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}

.content3{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descml3{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}


/* Axolotl */


.picw4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.axolotl{
    width: 200px;
    border-radius: 50px;

    margin-top: 25px;
}

.title4{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}

.content4{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.descml4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}


.picw5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.armadilo{
    width: 200px;
    border-radius: 50px;
    
    margin-top: 25px;
}


.title5{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}


.content5{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descml5{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}


/* Tamandua */

.picw6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamandua{
    width: 200px;
    border-radius: 50px;

    margin-top: 25px;
}

.title6{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}


.content6{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descml6{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;

    margin-bottom: 20px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
body{
    min-height: 100vh;
    background: linear-gradient( to top, white 90%, hsl(32, 100%, 50%));
} */

/* body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        hsl(24, 100%, 43%) 0%,
        hsl(22, 91%, 59%) 45%,
        #ffffff 100%
    );
} */

/* body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #2c2c2c 0%,
        #f5f5f5 40%,
        #ffffff 100%
    );
} */

body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #e2d090 0%,
        #ffffff 40%,
        #ffffff 100%
    );
}

@media(max-width:1024px){

    .kompweng, .kompwsrb{
        display: none !important;
    }
}



.desc,
.descml2,
.descml3 {
    background: rgba(255,255,255,0.95);
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}



body::-webkit-scrollbar{
    display: none;
}


/* JOS AND MORE */

    .josw{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;

    }
    
    .jos{
        
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 20px;
    }


    .morew{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;

    }
    
    .more{
        
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 20px;

    }

/* JOS AND MORE */



/* SRB AND ENG  */

.hidden {
    display: none;
}


.lang-switch{
    display: flex;
    justify-content: end;
    align-items: end;

    padding: 20px;
}




.engbtn{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    cursor: pointer;
}



.srbbtn{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    cursor: pointer;
}

/* SRB AND ENG */

.picw{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
}

.barnowl{
    width: 200px;
    border-radius: 50px;

    /* box-shadow: 20px 10px 70px black; */
}

.content1{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.title{
    margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;

}


/* King Cobra */

.picw2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kobra{
    width: 200px;
    border-radius: 50px;

    margin-top: 25px;
}

.title2{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}

.content2{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descml2{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}




/* Mungos */




.picw3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mungos{
    width: 200px;
    border-radius: 50px;

    margin-top: 25px;
}

.title3{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}

.content3{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descml3{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}


/* Axolotl */


.picw4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.axolotl{
    width: 200px;
    border-radius: 50px;

    margin-top: 25px;
}

.title4{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}

.content4{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.descml4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}


.picw5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.armadilo{
    width: 200px;
    border-radius: 50px;
    
    margin-top: 25px;
}


.title5{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}


.content5{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descml5{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}


/* Tamandua */

.picw6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamandua{
    width: 200px;
    border-radius: 50px;

    margin-top: 25px;
}

.title6{
        margin-top: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
}


.content6{
        margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descml6{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;

    margin-bottom: 20px;
}


/* MEDIA */


@media(min-width: 1024px){
    .allsrb, .alleng{
        display: none;
    }

    /* Desktop poruke */
    .kompweng{
        display: flex;  
        min-height: 70vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        gap: 15px;
    }

    .kompwsrb{
        display: none;  
        min-height: 70vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        gap: 15px;
    }

    .titkomp{
        font-size: 120px;
        text-align: center;
    }

    .kompdesc{
        font-size: 20px;
        text-align: center;
    }

    .lang-switch{
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .srbbtn, .engbtn{
        font-size: 25px;
    }
}










